(use-modules (gnu)
             (gnu services ssh)
             (nongnu packages linux)
             (nongnu system linux-initrd)
	     (dude srvcs workstation)
             (dude pkgs linux))

(operating-system
  (kernel dude-linux-git)
  (initrd microcode-initrd)
  (firmware (list linux-firmware))
  (host-name "home")
  (timezone "Europe/Moscow")
  (locale "en_US.utf8")

  (bootloader (bootloader-configuration
               (bootloader grub-efi-bootloader)
               (targets '("/boot/efi"))))

  (file-systems (append
                 (list (file-system
                         (device (file-system-label "my-root"))
                         (mount-point "/")
                         (type "ext4"))
                       (file-system
                         (device (uuid "0C5B-5337" 'fat))
                         (mount-point "/boot/efi")
                         (type "vfat")))
                 %base-file-systems))

  (users (cons (user-account
                (name "user")
                (comment "0_0")
                (group "users")
                (supplementary-groups '("wheel" "netdev"
                                        "audio" "video")))
               %base-user-accounts))
  (packages (append
	     %dude-workstation-packages
	     (map (compose list specification->package+output)
		  '("emacs-stuff"))))
  (services (append
             %dude-workstation-services
             (list (service openssh-service-type))))

  ;; Allow resolution of '.local' host names with mDNS.
  (name-service-switch %mdns-host-lookup-nss))
