(cons*
 (channel
  (name 'nonguix)
  (url "https://gitlab.com/nonguix/nonguix"))
 (channel
  (name 'dude)
  (url "https://github.com/lebowski-the-dude/guix-channel.git")
  (branch "main"))
 %default-channels)
